/* line 1, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_normalize.scss */
.js-couppy p, .js-couppy h1, .js-couppy h2, .js-couppy h3, .js-couppy h4, .js-couppy h5, .js-couppy h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

/* line 7, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_normalize.scss */
.js-couppy ul, .js-couppy ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 20, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* line 30, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy__overlay.hidden {
  display: none;
}

/* line 35, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy__popup {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  color: #212121;
  line-height: 1.5;
}

/* line 45, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy__popup-container {
  position: relative;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 12px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 78, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy {
  /* --- */
  /* --- */
}

/* line 83, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__popup {
  padding: 3rem 0;
  background-size: cover;
  background: #fff url(../img/abstract-background.jpg) no-repeat center;
  font-family: 'Krub', sans-serif;
  color: #1A535C;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

/* line 96, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__container {
  text-align: right;
}

/* line 102, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__c-body {
  padding: 1rem;
}

/* line 106, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__c-footer {
  padding: 1rem;
}

/* line 113, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__tx-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 117, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__tx-super {
  font-family: 'K2D', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

/* line 122, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__tx-code {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: solid 1px #FF6B6B;
  font-size: 1.5rem;
  letter-spacing: 0.5em;
  color: #FF6B6B;
}

/* line 131, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__tx-subtext {
  color: #AAA;
}

/* line 134, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__tx-link {
  text-transform: uppercase;
  color: #4ECDC4;
  -webkit-transition: color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s;
  -ms-transition: color ease-out 0.2s;
  -o-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}

/* line 139, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__tx-link:hover, .js-couppy.couppy-1 .js-couppy__tx-link:focus, .js-couppy.couppy-1 .js-couppy__tx-link:active {
  color: #76d8d1;
}

/* line 142, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__tx-link:visited {
  color: #4ECDC4;
}

/* line 149, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__sp-highlight {
  color: #FF6B6B;
}

/* line 152, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__sp-super {
  font-family: 'K2D', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

/* line 160, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__btn-close {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  -webkit-transition: color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s;
  -ms-transition: color ease-out 0.2s;
  -o-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  color: #1A535C;
  opacity: 0.5;
}

/* line 174, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy__btn-close:hover {
  cursor: pointer;
  color: #257784;
}

/*# sourceMappingURL=../css/style.map */