/* line 1, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_animations.scss */
.animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-moz-keyframes lightSpeedIn {
  0% {
    -moz-transform: translate3d(100%, 0, 0) skewX(-3deg);
    opacity: 0;
  }
  60% {
    -moz-transform: skewX(3deg);
    opacity: 1;
  }
  80% {
    -moz-transform: skewX(-3deg);
    opacity: 1;
  }
  to {
    -moz-transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-3deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewX(3deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewX(-3deg);
    opacity: 1;
  }
  to {
    -webkit-transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  0% {
    transform: translate3d(100%, 0, 0) skewX(-3deg);
    opacity: 0;
  }
  60% {
    transform: skewX(3deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-3deg);
    opacity: 1;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

/* line 70, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_animations.scss */
.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  -moz-animation-name: lightSpeedIn;
  -o-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* ---------------------------------------------------------------------- */
@-moz-keyframes emerge {
  0% {
    -moz-transform: translate3d(0, 100%, 0) skewY(-1deg);
    opacity: 0;
  }
  60% {
    -moz-transform: skewY(1deg);
    opacity: 1;
  }
  80% {
    -moz-transform: skewY(-1deg);
    opacity: 1;
  }
  to {
    -moz-transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes emerge {
  0% {
    -webkit-transform: translate3d(0, 100%, 0) skewY(-1deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: skewY(1deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: skewY(-1deg);
    opacity: 1;
  }
  to {
    -webkit-transform: none;
    opacity: 1;
  }
}

@keyframes emerge {
  0% {
    transform: translate3d(0, 100%, 0) skewY(-1deg);
    opacity: 0;
  }
  60% {
    transform: skewY(1deg);
    opacity: 1;
  }
  80% {
    transform: skewY(-1deg);
    opacity: 1;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

/* line 141, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_animations.scss */
.emerge {
  -webkit-animation-name: emerge;
  -moz-animation-name: emerge;
  -o-animation-name: emerge;
  animation-name: emerge;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* line 6, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__popup, .js-couppy.couppy-1 .js-couppy__popup {
  padding: 3rem 0;
  background-size: cover;
  background: #fff url(../img/abstract-background.jpg) no-repeat center;
  font-family: 'Krub', sans-serif;
  color: #1A535C;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  overflow: hidden;
}

/* line 20, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__card, .js-couppy.couppy-1 .js-couppy__card {
  text-align: right;
}

/* line 26, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__c-body, .js-couppy.couppy-1 .js-couppy__c-body {
  padding: 1rem;
}

/* line 30, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__c-footer, .js-couppy.couppy-1 .js-couppy__c-footer {
  padding: 1rem;
}

/* line 37, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__tx-title, .js-couppy.couppy-1 .js-couppy__tx-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* line 41, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__tx-super, .js-couppy.couppy-1 .js-couppy__tx-super {
  font-family: 'K2D', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

/* line 46, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-1 .js-couppy__tx-code {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.5rem;
  border: solid 1px #FF6B6B;
  font-size: 1.5rem;
  letter-spacing: 0.5em;
  color: #FF6B6B;
}

/* line 55, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-1 .js-couppy__tx-subtext {
  color: #AAA;
}

/* line 58, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__tx-link, .js-couppy.couppy-1 .js-couppy__tx-link {
  text-transform: uppercase;
  color: #4ECDC4;
  -webkit-transition: color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s;
  -ms-transition: color ease-out 0.2s;
  -o-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}

/* line 63, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__tx-link:hover, .js-couppy.couppy-1 .js-couppy__tx-link:hover, .js-couppy.couppy-2 .js-couppy__tx-link:focus, .js-couppy.couppy-1 .js-couppy__tx-link:focus, .js-couppy.couppy-2 .js-couppy__tx-link:active, .js-couppy.couppy-1 .js-couppy__tx-link:active {
  color: #76d8d1;
}

/* line 66, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__tx-link:visited, .js-couppy.couppy-1 .js-couppy__tx-link:visited {
  color: #4ECDC4;
}

/* line 73, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__sp-highlight, .js-couppy.couppy-1 .js-couppy__sp-highlight {
  color: #FF6B6B;
}

/* line 76, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__sp-super, .js-couppy.couppy-1 .js-couppy__sp-super {
  font-family: 'K2D', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

/* line 84, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__btn-close, .js-couppy.couppy-1 .js-couppy__btn-close {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  color: #1A535C;
  opacity: 0.5;
  -webkit-transition: color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s;
  -ms-transition: color ease-out 0.2s;
  -o-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}

/* line 98, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__btn-close:hover, .js-couppy.couppy-1 .js-couppy__btn-close:hover {
  color: #257784;
  cursor: pointer;
}

/* line 103, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__btn-copy, .js-couppy.couppy-1 .js-couppy__btn-copy {
  display: inline-block;
  margin: 0 0.5rem;
  -webkit-transition: color ease-out 0.2s;
  -moz-transition: color ease-out 0.2s;
  -ms-transition: color ease-out 0.2s;
  -o-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}

/* line 108, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__btn-copy:hover, .js-couppy.couppy-1 .js-couppy__btn-copy:hover {
  color: #ff9e9e;
  cursor: pointer;
}

/* line 116, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 {
  /* --- */
  /* --- */
  /* --------------------- */
}

/* line 129, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__card {
  text-align: center;
}

/* line 133, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__card--hidden {
  display: none;
}

/* line 136, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__card--visible {
  display: block;
}

/* line 181, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__btn-submit {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.5rem;
  background: #4ECDC4;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color ease-out 0.2s;
  -moz-transition: background-color ease-out 0.2s;
  -ms-transition: background-color ease-out 0.2s;
  -o-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
}

/* line 192, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__btn-submit:hover {
  background-color: #76d8d1;
  cursor: pointer;
}

/* line 201, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 .js-couppy__in {
  display: inline-block;
  width: 10em;
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 0.1em;
  color: #1A535C;
}

/* line 215, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ddd;
  font-weight: 300;
}

/* line 219, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ddd;
  opacity: 1;
  font-weight: 300;
}

/* line 224, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ddd;
  opacity: 1;
  font-weight: 300;
}

/* line 229, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ddd;
  font-weight: 300;
}

/* line 233, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ddd;
  font-weight: 300;
}

/* line 238, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_templates.scss */
.js-couppy.couppy-2 ::placeholder {
  /* Most modern browsers support this now. */
  color: #ddd;
  font-weight: 300;
}

/* line 1, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_normalize.scss */
.js-couppy p, .js-couppy h1, .js-couppy h2, .js-couppy h3, .js-couppy h4, .js-couppy h5, .js-couppy h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

/* line 7, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_normalize.scss */
.js-couppy ul, .js-couppy ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 13, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_normalize.scss */
.js-couppy button {
  border: none;
}

/* line 17, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/_normalize.scss */
.js-couppy a {
  text-decoration: none;
}

/* line 21, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

/* line 31, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy__overlay.hidden {
  display: none;
}

/* line 36, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy__popup {
  position: relative;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  color: #212121;
  line-height: 1.5;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 47, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy__popup-container {
  position: relative;
  left: 50%;
  top: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 12px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 80, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-1 .js-couppy {
  /* --- */
  /* --- */
}

/* line 150, C:/Users/Adam/Documents/Repos/Plugins/Couppy/src/scss/style.scss */
.js-couppy.couppy-2 .js-couppy {
  /* --- */
  /* --- */
  /* --------------------- */
}

/*# sourceMappingURL=../css/style.map */