@mixin transform($props...) {
	-webkit-transform: $props;
	-moz-transform: $props;
	-ms-transform: $props;
	-o-transform: $props;
	transform: $props;
}

@mixin transition($props...) {
	-webkit-transition: $props;
	-moz-transition: $props;
	-ms-transition: $props;
	-o-transition: $props;
	transition: $props;
}

@mixin border-radius($props...) {
	-webkit-border-radius: $props;
	-moz-border-radius: $props;
	border-radius: $props;
}

@mixin box-shadow($props...) {
	-webkit-box-shadow: $props;
	-moz-box-shadow: $props;
	box-shadow: $props;
}

@mixin transform-style($props...) {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* Animation */

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content
	}
	@-moz-keyframes #{$name} {
		@content
	}
	@-ms-keyframes #{$name} {
		@content
	}
	@-o-keyframes #{$name} {
		@content
	}
	@keyframes #{$name} {
		@content
	}
}

@mixin animation($props...) {
	-webkit-animation: $props;
	-o-animation: $props;
	animation: $props;
}

@mixin animation-name($props...) {
	-webkit-animation-name: $props;
	-moz-animation-name: $props;
	-o-animation-name: $props;
	animation-name: $props;
}

@mixin animation-duration($props) {
	-webkit-animation-duration: $props;
	-moz-animation-duration: $props;
	-o-animation-duration: $props;
	animation-duration: $props;
}

@mixin animation-timing-function($props...) {
	-webkit-animation-timing-function: $props;
	-moz-animation-timing-function: $props;
	-o-animation-timing-function: $props;
	animation-timing-function: $props;
}

@mixin animation-fill-mode($props...) {
	-webkit-animation-fill-mode: $props;
	-moz-animation-fill-mode: $props;
	-o-animation-fill-mode: $props;
	animation-fill-mode: $props;
}

/* Media query */

/* --- min --- */

@mixin min-x-small-devices() {
	@media (min-width: #{$media-xs}px) {
		@content;
	}
}

@mixin min-m-small-devices() {
	@media (min-width: #{$media-ms}px) {
		@content;
	}
}

@mixin min-small-devices() {
	@media (min-width: #{$media-sm}px) {
		@content;
	}
}

@mixin min-medium-devices() {
	@media (min-width: #{$media-md}px) {
		@content;
	}
}

@mixin min-large-devices() {
	@media (min-width: #{$media-lg}px) {
		@content;
	}
}

@mixin min-x-large-devices() {
	@media (min-width: #{$media-xl}px) {
		@content;
	}
}

/* --- max --- */

@mixin x-small-devices() {
	@media (max-width: #{$media-xs - 1}px) {
		@content;
	}
}

@mixin m-small-devices() {
	@media (max-width: #{$media-ms - 1}px) {
		@content;
	}
}

@mixin small-devices() {
	@media (max-width: #{$media-sm - 1}px) {
		@content;
	}
}

@mixin medium-devices() {
	@media (max-width: #{$media-md - 1}px) {
		@content;
	}
}

@mixin large-devices() {
	@media (max-width: #{$media-lg - 1}px) {
		@content;
	}
}

@mixin x-large-devices() {
	@media (max-width: #{$media-xl - 1}px) {
		@content;
	}
}