$root: js-couppy;

%style-1 {
	&__overlay {

	}

	&__popup {
		position: relative;
		padding: 3rem 0;
		background-size: cover;
		background: #fff url(../img/abstract-background.jpg) no-repeat center;
		font-family: 'Krub', sans-serif;
		color: $accent-1;
		@include border-radius(12px);
		overflow: hidden;

		&-container {

		}
	}

	&__card {
		text-align: right;
	}

	/* --- */

	&__c-body {
		position: relative;
		padding: 1rem;
		z-index: 1;
	}

	&__c-footer {
		position: relative;
		z-index: 1;
	}

	/* --- */

	&__tx {
		&-title {
			font-size: 1.5rem;
			font-weight: bold;
		}
		&-super {
			font-family: 'K2D', sans-serif;
			font-size: 4rem;
			font-weight: bold;
		}
		&-code {
			display: inline-block;
			margin: 1rem 0;
			padding: 0.5rem;
			border: solid 1px $accent-3;
			font-size: 1.5rem;
			letter-spacing: 0.5em; // todo: fix last letter spacing bug
			color: $accent-3;
		}
		&-subtext {
			color: $accent-5;
		}
		&-link {
			text-transform: uppercase;
			color: $accent-2;
			@include transition(color ease-out 0.2s);

			&:hover, &:focus, &:active {
				color: lighten($accent-2, 10%);
			}
			&:visited {
				color: $accent-2;
			}
		}
	}

	&__sp {
		&-highlight {
			color: $accent-3;
		}
		&-super {
			font-family: 'K2D', sans-serif;
			font-size: 4rem;
			font-weight: bold;
		}
	}

	&__btn {
		&-close {
			position: absolute;
			display: inline-block;
			top: 0;
			right: 0;
			width: 3rem;
			height: 3rem;
			text-align: center;
			font-size: 2rem;
			line-height: 3rem;
			color: $accent-1;
			opacity: 0.5;
			@include transition(color ease-out 0.2s);

			&:hover {
				color: lighten($accent-1, 10%);
				cursor: pointer;
			}
		}
		&-copy {
			display: inline-block;
			margin: 0 0.5rem;
			@include transition(color ease-out 0.2s);

			&:hover {
				color: lighten($accent-3, 10%);
				cursor: pointer;
			}
		}
	}
}

%style-2 {
	&__overlay {

	}

	&__popup {
		@extend %style-1__popup;
		background: #fff;

		&-container {

		}
	}

	&__card {
		@extend %style-1__card;
		text-align: center;

		&--hidden {
			display: none;
		}
		&--visible {
			display: block;
		}
	}

	/* --- */

	&__c-body {
		@extend %style-1__c-body;
	}

	&__c-footer {
		@extend %style-1__c-footer;
	}

	/* --- */

	&__tx {
		&-title {
			@extend %style-1__tx-title;
		}
		&-super {
			@extend %style-1__tx-super;
		}
		&-link {
			@extend %style-1__tx-link;
		}
	}

	&__sp {
		&-highlight {
			@extend %style-1__sp-highlight;
			color: $accent-2;
		}
		&-super {
			@extend %style-1__sp-super;
		}
	}

	&__btn {
		&-close {
			@extend %style-1__btn-close;
		}
		&-copy {
			@extend %style-1__btn-copy;
		}
		&-submit {
			display: inline-block;
			margin-left: 0.5rem;
			padding: 0.5rem 1rem;
			border: none;
			font-size: 1.5rem;
			background: $accent-2;
			color: $accent-6;
			@include border-radius(4px);
			@include transition(background-color ease-out 0.2s);
			outline: none;

			&--block {
				display: block;
				margin: 0.5rem auto 0;
				width: 75%;
			}

			&:hover {
				background-color: lighten($accent-2, 10%);
				cursor: pointer;
			}
		}
	}

	&__img {
		&-logo {
			position: absolute;
			width: 8rem;
			height: auto;
			max-width: 100%;
			left: 1rem;
			top: 1rem;
		}
	}

	/* --------------------- */

	&__in {
		display: inline-block;
		width: 10em;
		margin: 0;
		padding: 0.5rem 1rem;
		border: none;
		text-align: center;
		font-family: inherit;
		font-size: 1.5rem;
		@include border-radius(4px);
		letter-spacing: 0.1em;
		color: $accent-1;
		outline: none;

		&--block {
			display: block;
			width: 75%;
			margin: 0 auto;
			border: solid 2px #ddd;
			@include transition(border-color ease-out 0.2s);

			&:hover, &:focus, &:active {
				border-color: $accent-2;
			}

			&.#{$root}__wrong {
				border-color: $danger;
			}
		}
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color: #ddd;
		font-weight: 300;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #ddd;
		opacity: 1;
		font-weight: 300;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #ddd;
		opacity: 1;
		font-weight: 300;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #ddd;
		font-weight: 300;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		color: #ddd;
		font-weight: 300;
	}

	::placeholder { /* Most modern browsers support this now. */
		color: #ddd;
		font-weight: 300;
	}
}